{% extends 'jukebox_base.html' %}

{% load i18n %}
{% load static from staticfiles %}

{% block section_js %}
    {{ block.super }}

    require(["dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dijit/layout/TabContainer",
        "dijit/layout/AccordionContainer", "/static/jukebox/js/dashboard.js"]);
{% endblock %}

{% block pagetitle %} {% trans "Dashboard" %}{% endblock %}

{% block maincontent %}
<div data-dojo-type="dijit/layout/BorderContainer"
     data-dojo-props="design:'sidebar',persist:true, gutters:false">

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'" id="juke_left">
        <div data-dojo-type="dijit/layout/AccordionContainer">
            <div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Collection Tree' %}">
                <div id="artists_tree"></div>
            </div>

            <div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Search' %}"></div>
        </div>
    </div>

    <div data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'center'"
         id="juke_accordion">
        <div data-dojo-type="dijit/layout/ContentPane" title="{% trans 'Playlist' %}">
            <div id="main_playlist_grid"></div>
        </div>
    </div>

    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'">
        {% include "jukebox/player.html" %}
    </div>
</div>
{% endblock %}
