{% extends "template.html" %}

{% load static from staticfiles %}
{% load i18n %}

{% block section_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'jukebox/css/jukebox.css' %}">
{% endblock %}

{% block section_js %}
    {{ block.super }}

    require(["dijit/layout/LayoutContainer", "dijit/layout/ContentPane"]);

    {% comment %}
    Notice that we have also explicitly loaded the dojo/parser module.
    This is of monumental importance; despite popular misconception, dojo/parser
    does not load automatically when parseOnLoad is set to true, and never has.
    It happened to "just work" in many cases prior to 1.7 due to how many widgets
    loaded dijit/_Templated (which loads dojo/parser).
    {% endcomment %}
{% endblock %}



{% block pagebody %}
    <div data-dojo-type="dijit/layout/LayoutContainer" id="juke_mainlayout" data-dojo-props="liveSplitters:true">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" id="header_pane">
            <span id="time_spot"></span> {% trans "Logged as:" %} {{ user }}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="main_pane">
            {% block maincontent %}{% endblock %}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" id="footer_pane">
            {% comment %}Probably musicplayer place{% endcomment %}
        </div>
    </div>
{% endblock %}
