@import "../dgrid/css/dgrid.css";
@import "../dgrid/css/skins/claro.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}

.tabs_container {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.layout_static_content {
    background-color: rgb(123,443,124)
}

.pageOverlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1001;
    display: block;
}

#loadingOverlay {
    background:  #fff url('/static/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
}

.loadingMessage {
    padding: 25px 40px;
    color: #999;
}