{% extends "template.html" %}

{% load staticfiles %}
{% load i18n %}

{% block section_css %}
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'jukeauth/auth.css' %}" />
{% endblock %}

{% block section_js %}
    {{ block.super }}
    require(["dijit/layout/ContentPane", "dijit/layout/BorderContainer"]);
{% endblock %}

{% block pagebody %}
    <div data-dojo-type="dijit/layout/BorderContainer" class="tabs_container" data-dojo-props="gutters: true">
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'" id="header">
            {{ GL_APP_NAME|upper }} VER {{ GL_APP_VERSION }}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="main_pane">
            {% block maincontent %}{% endblock %}
        </div>

        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'bottom'" align="right" id="footer">
            <span>Copyright &copy; 2013 - 2015</span>
        </div>
    </div>
{% endblock %}
