#main_pane {
    text-align: center;
    background-color: #F0F7EB;
    background: url('login_page_background.jpg') right bottom no-repeat;
    background-size: cover;
}

#login_form_area {
    margin: 5em auto;
    width: 400px;
    background-color: rgba(251, 90, 0, 0.2);
    -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
    padding: 50px;
    text-align: center;
}

#login_form_area h1 {
    font-family: 'Lora', Arial, serif;
    font-size: 3em;
    font-width: bold;
    font-weight: bolder;
    color: #6f2700;
    letter-spacing: 2px;
}

#login_form_area label {
    color: #6f2700;
    font-size: 1.2em;
}

.dijitInputInner {
    height: 30px;
    text-align: center;
}

#widget_id_username, #widget_id_password, #widget_id_otp_token {
    width: 300px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    font-family: 'Lora', Arial, serif;
    font-size: 1.2em;
}

#auth_reset_pass {
    width: 400px;
    margin: 0 auto;
    background-color: #EDF6FF;
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

body {
    background-color: red;
}

.tabs_container {
    background-color: #E4EDDF;
}

#footer {
    background-color: #c5d678;
    color: #2f3807;
}

#header {
    background-color: #e2e4df;
    color: #2f3807;
}
