#juke_mainlayout {
    width: 95%; height: 100%; 
    margin: 0 auto;
    padding: 0;
    border: 1px solid cyan;
}

#header_pane {
    height: 30px;
    padding: 5px;
    background-color: red;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#main_pane {
    border:1px solid green;
}

#footer_pane {
    border:1px solid green;
    height: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: red;
}

#juke_left {
    width: 300px;
}

#juke_player {
    height: 100px;
}


/* MAIN PLAYLIST */

#main_playlist_grid {
    width: 100%;
    height: 100%;
}

#main_playlist_grid .dgrid-row {
    font-size: 0.9em;
}

.field-year {
    width: 10%;
}

.field-genre {
    width: 20%;
}