{% extends 'auth_base.html' %}


{% load i18n %}

{% block pagetitle %}{% trans "Login" %}{% endblock %}

{% block section_js %}
    {{ block.super }}
    require(["dijit/form/Form"]);
{% endblock %}

{% block maincontent %}
<div id="login_form_area">
    <h1>{{ GL_APP_NAME }}&nbsp;{% trans "LOGIN" %}</h1>

    {% if form.errors %}
        <p>{% trans "Authentication failed" %}</p>
    {% endif %}

    <form method="post" action="{% url 'jukeauth:login' %}" data-dojo-type="dijit/form/Form">

    <script type="dojo/on" data-dojo-event="submit">
        return this.validate();
    </script>

    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>

        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        <tr>
            <td>{{ form.otp_token.label_tag }}</td>
            <td>{{ form.otp_token }}</td>
        </tr>
    </table>

    <button type="submit" data-dojo-type="dijit/form/Button">{% trans "Login" %}</button>
    </form>
</div>
{% endblock %}
