{% extends 'auth_base.html' %}

{% load i18n %}

{% block pagetitle %}{% trans "Password reset confirmation" %}{% endblock %}

{% block external_js %}
<script>
require(
    [
        "dijit/registry",
        "dojo/ready",
        "dojo/domReady!"
    ], 
    function(registry, ready) 
    {
        ready(function() {
            registry.byId("id_new_password2").validator = function(value, constraints) {
                console.log(this.value);
                return (value == registry.byId("id_new_password1").value);
            };

            /*on(registry.byId("auth_reset_pass"), "submit", function(evt) {
                if (!this.validate()) return false;
                
                evt.stopPropagation();
                evt.preventDefault();

                request.post("{% url 'md:save_user' %}", {
                    data: domForm.toObject(window.user_addedit_form_id),
                    timeout: 1000
                }).then(function(response) {
                    dom.byId('srvMessage').innerHTML = response;
                    registry.byId(window.user_addedit_form_id).reset();
                    
                    users_grid.store.query();
                    users_grid.sort("user_id"); // force refresh
                });
            });*/            
        }); // ready
    }
);
</script>
{% endblock %}


{% block maincontent %}

{% if validlink %}
    <h2>{% trans 'Enter new password' %}</h2>

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form data-dojo-type="dijit/form/Form" id="auth_reset_pass" action="" method="post">
        {% csrf_token %}

        <table>
            <tr>
                <td>{% trans 'new password'|title %}</td>
                <td>
                    <input type="password" required="true" data-dojo-type="dijit/form/ValidationTextBox"
                    data-dojo-props="invalidMessage: '{% trans 'Please type a password' %}'" 
                    id="id_new_password1" name="new_password1" intermediateChanges=false>
                </td>                
            </tr>
            
            <tr>
                <td>{% trans 'confirm password'|title %}</td>
                <td>
                    <input type="password" required="true" data-dojo-type="dijit/form/ValidationTextBox"
                    data-dojo-props="invalidMessage: '{% trans 'The passwords do not match' %}'" 
                    id="id_new_password2" name="new_password2" intermediateChanges=false >
                </td>                
            </tr>
        </table>

        <button type="submit" data-dojo-type="dijit/form/Button">{% trans "Change my password" %}</button>
          
        </table>
    </form>

{% else %}

    <h2>{% trans 'Password reset unsuccessful' %}</h2>

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
