<!DOCTYPE html>
{% load static from staticfiles %}{% load staticfiles %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta charset="utf-8">
    <meta name="author" content="Cristian Năvălici">
    <title>{{ GL_APP_NAME }}-{% block pagetitle %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dijit/themes/claro/claro.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dijit/themes/claro/document.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jplayer.blue.monday/jplayer.blue.monday.min.css' %}" />


    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">

    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script>
    var dojoConfig = {
        async: true,
        parseOnLoad: false,
        isDebug: true,
        locale: 'ro',
        has: {
            "dojo-firebug": true,
            "dojo-debug-messages": true
        },
        map: {
            // Instead of having to type "dojo/domReady!", we just want "ready!" instead
            "*": {
                ready: "dojo/domReady"
            }
        }
    };

    var overlay;
    </script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/jplayer/jquery.jplayer.min.js' %}"></script>
    <script src="{% static 'js/jplayer/aurora/aurora.js' %}"></script>
    <script src="{% static 'js/jplayer/aurora/flac.js' %}"></script>

    {% block section_css %}{% endblock %}
    {% block subsection_css %}{% endblock %}
</head>

<body class="claro">
    <div id="loadingOverlay" class="loadingMessage pageOverlay"></div>

    <script src="{% static 'dojo/dojo.js' %}"></script>

    <script>
    $.noConflict();

    require(["dojo/_base/declare", "dojo/dom", "dojo/dom-style", "dojo/_base/fx"],
    function(declare, dom, domStyle, fx){
        var Overlay = declare(null, {
            overlayNode: null,
            constructor: function() {
                this.overlayNode = dom.byId("loadingOverlay");
            },
            endLoading: function() {
              <!--
              fx.fadeOut({
                node: this.overlayNode,
                onEnd: function(node){
                    domStyle.set(node, 'display', 'none');
                }
              }).play();
              -->
              domStyle.set(this.overlayNode,'display','none');
            }
        });

        overlay = new Overlay();
    });

    </script>

    {% block pagebody %}{% endblock %}

    <script>
    {% block section_js %}
        require(["/static/js/djangomusic.js", "/static/js/xregexp-min.js"]);
        require(["dojo/parser", "dojo/ready"], function(parser, ready){
            ready(function(){
                parser.parse().then(function() { overlay.endLoading(); });
            });
        });
    {% endblock %}
    </script>
</body>
</html>
